<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="org.wildfly.swarm.management" slot="api">
  <resources>
    <artifact name="org.wildfly.swarm:wildfly-swarm-management:${project.version}"/>
  </resources>
  <dependencies>
    <module name="org.wildfly.swarm.container"/>
    <module name="org.wildfly.swarm.configuration"/>
  </dependencies>
</module>
