<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2015 Red Hat, Inc. and/or its affiliates.
  ~
  ~ Licensed under the Apache License version 2.0, available at http://www.apache.org/licenses/LICENSE-2.0
  -->

<module xmlns="urn:jboss:module:1.5" name="org.wildfly.swarm.container" slot="api">
  <resources>
    <artifact name="io.thorntail:container:${project.version}">
      <filter>
        <include-set>
          <path name="META-INF"/>
          <path name="org/wildfly/swarm"/>
          <path name="org/wildfly/swarm/cdi"/>
          <path name="org/wildfly/swarm/cli"/>
          <path name="org/wildfly/swarm/container"/>
          <path name="org/wildfly/swarm/container/internal"/>
          <path name="org/wildfly/swarm/container/util"/>
          <path name="org/wildfly/swarm/internal"/>
        </include-set>
        <exclude-set>
          <path name="org/wildfly/swarm/container/runtime"/>
          <path name="org/wildfly/swarm/container/runtime/cdi"/>
          <path name="org/wildfly/swarm/container/runtime/cli"/>
          <path name="org/wildfly/swarm/container/runtime/config"/>
          <path name="org/wildfly/swarm/container/runtime/deployments"/>
          <path name="org/wildfly/swarm/container/runtime/logging"/>
          <path name="org/wildfly/swarm/container/runtime/marshal"/>
          <path name="org/wildfly/swarm/container/runtime/wildfly"/>
          <path name="org/wildfly/swarm/container/runtime/xmlconfig"/>
        </exclude-set>
      </filter>
    </artifact>
  </resources>
  <dependencies>
    <module name="org.wildfly.swarm.configuration" export="true"/>
    <module name="org.wildfly.swarm.spi" export="true" services="export"/>
    <module name="org.jboss.as.server"/>
    <module name="org.jboss.as.controller" export="true"/>
    <module name="org.jboss.as.server"/>
    <module name="org.jboss.modules" export="true"/>
    <module name="org.jboss.shrinkwrap" export="true"/>
    <module name="org.jboss.shrinkwrap.descriptors" export="true"/>
    <module name="org.wildfly.swarm.bootstrap" optional="true"/>
    <module name="org.yaml.snakeyaml"/>
    <module name="org.jboss.weld.se"/>
    <module name="javax.enterprise.api"/>
    <module name="javax.inject.api"/>
    <module name="org.jboss.jandex"/>
    <module name="javax.annotation.api" export="true"/>

    <!-- the following have been added to support xml parsing -->
    <module name="javax.api" export="true"/>
    <module name="org.jboss.staxmapper" export="true"/>
    <module name="org.jboss.as.logging" export="true"/>
  </dependencies>
</module>
