<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<module xmlns="urn:jboss:module:1.3" name="org.jboss.jandex">
<properties>
    <property name="jboss.api" value="private"/>
  </properties>
  <resources>
    <artifact name="org.jboss:jandex:${version.jandex}"/>
  </resources>
  <dependencies>
    </dependencies>
</module>
