<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.5" name="org.flywaydb">
    <resources>
        <artifact name="org.flywaydb:flyway-core:${version.flyway}"/>
    </resources>
    <dependencies>
        <module name="javax.api"/>
        <module name="javax.transaction.api"/>
        <module name="javax.servlet.api" optional="true"/>
        <module name="org.slf4j"/>
        <module name="org.jboss.vfs"/>
    </dependencies>
</module>