<module xmlns="urn:jboss:module:1.3" name="org.wildfly.swarm.camel.full">

  <dependencies>
    <system export="true">
      <paths>
        <path name="org/wildfly/camel/swarm/full"/>
      </paths>
    </system>

    <module name="org.wildfly.swarm.camel.full" slot="api" export="true" services="export"/>

  </dependencies>
</module>
