<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2015 Red Hat, Inc. and/or its affiliates.
  ~
  ~ Licensed under the Apache License version 2.0, available at http://www.apache.org/licenses/LICENSE-2.0
  -->

<module xmlns="urn:jboss:module:1.3" name="org.wildfly.swarm.container" slot="api">
  <resources>
    <artifact name="org.wildfly.swarm:container-api:${project.version}"/>
  </resources>
  <dependencies>
    <module name="org.wildfly.swarm.spi" export="true" services="export"/>
    <module name="org.jboss.modules"/>
    <module name="org.jboss.shrinkwrap"/>
    <module name="org.jboss.shrinkwrap.descriptors"/>
    <module name="org.wildfly.swarm.bootstrap" optional="true"/>
    <module name="org.yaml.snakeyaml"/>
  </dependencies>
</module>
