<module xmlns="urn:jboss:module:1.3" name="org.wildfly.swarm.transactions" slot="runtime">
  <resources>
    <artifact name="org.wildfly.swarm:transactions-runtime:${project.version}"/>
  </resources>

  <dependencies>
    <module name="org.wildfly.swarm.transactions"/>
    <module name="org.wildfly.swarm.container" slot="runtime"/>

    <module name="org.jboss.as.transactions"/>
  </dependencies>
</module>
