<module xmlns="urn:jboss:module:1.3" name="org.wildfly.swarm.netflix.ribbon.keycloak" slot="runtime">
  <resources>
    <artifact name="org.wildfly.swarm:wildfly-swarm-runtime-netflix-ribbon-keycloak:${project.version}"/>
  </resources>

  <dependencies>
    <!--
    <module name="org.wildfly.swarm.netflix.ribbon" slot="runtime"/>
    <module name="org.wildfly.swarm.netflix.ribbon.keycloak"/>
    -->
    <module name="org.wildfly.swarm.keycloak" slot="runtime"/>
    <module name="org.wildfly.swarm.container"/>
    <module name="org.wildfly.swarm.runtime.container"/>
    <module name="org.keycloak.keycloak-core"/>
    <module name="com.netflix.ribbon"/>
    <module name="io.reactivex.rxnetty"/>
  </dependencies>
</module>
