<module xmlns="urn:jboss:module:1.3" name="io.reactivex.rxnetty">
  <resources>
    <artifact name="io.reactivex:rxnetty:${version.rxnetty}"/>
    <artifact name="io.reactivex:rxnetty-contexts:${version.rxnetty}"/>
    <artifact name="io.reactivex:rxnetty-servo:${version.rxnetty}"/>
  </resources>

  <dependencies>
    <module name="io.reactivex.rxjava"/>
    <module name="io.netty"/>
    <module name="com.netflix.servo"/>
    <module name="org.slf4j"/>
  </dependencies>

</module>
