<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="org.jboss.resteasy.microprofile-restclient">
    <resources>
        <artifact name="org.jboss.resteasy:resteasy-client-microprofile:${version.resteasy}"/>
    </resources>

    <dependencies>
        <module name="javax.enterprise.api"/>
        <module name="javax.ws.rs.api"/>
        <module name="javax.api"/>
        <module name="javax.annotation.api"/>
        <module name="org.jboss.logging" slot="main"/>
        <module name="org.eclipse.microprofile.config.api" export="true"/>
        <module name="org.eclipse.microprofile.restclient" export="true" services="import"/>
        <module name="org.jboss.resteasy.resteasy-jaxrs" export="true"/>
        <module name="org.wildfly.swarm.microprofile.restclient" services="export" export="true" slot="deployment"/>
    </dependencies>
</module>
