<module xmlns="urn:jboss:module:1.3" name="org.wildfly.swarm.undertow">

  <dependencies>
    <!-- For when run with bonafide IDE classpath -->
    <system export="true">
      <paths>
        <path name="org/wildfly/swarm/undertow"/>
      </paths>
    </system>

    <!-- For when bootstrapped through a fat-jar -->
    <module name="org.wildfly.swarm.bootstrap" optional="true" export="true">
      <exports>
        <include path="org/wildfly/swarm/undertow"/>
      </exports>
    </module>

    <module name="org.wildfly.swarm.runtime.container"/>

  </dependencies>
</module>
