<module xmlns="urn:jboss:module:1.3" name="org.wildfly.swarm.keycloak.server" slot="runtime">
  <resources>
    <artifact name="org.wildfly.swarm:keycloak-server-runtime:${project.version}"/>
  </resources>

  <dependencies>
    <module name="org.wildfly.swarm.keycloak.server"/>
    <module name="org.wildfly.swarm.container"/>
    <module name="org.wildfly.swarm.container" slot="runtime"/>
    <module name="org.wildfly.swarm.configuration"/>

    <module name="io.undertow.servlet"/>
    <module name="io.undertow.core"/>
    <module name="org.jboss.shrinkwrap"/>

    <module name="org.keycloak.keycloak-common"/>
    <module name="org.keycloak.keycloak-core"/>
    <module name="org.keycloak.keycloak-js-adapter"/>
    <module name="org.keycloak.keycloak-kerberos-federation"/>
    <module name="org.keycloak.keycloak-ldap-federation"/>
    <module name="org.keycloak.keycloak-model-infinispan"/>
    <module name="org.keycloak.keycloak-model-jpa"/>
    <module name="org.keycloak.keycloak-model-mongo"/>
    <module name="org.keycloak.keycloak-saml-core"/>
    <module name="org.keycloak.keycloak-server-spi"/>
    <module name="org.keycloak.keycloak-server-subsystem"/>
    <module name="org.keycloak.keycloak-server-subsystem.dependencies"/>
    <module name="org.keycloak.keycloak-services"/>
    <module name="org.keycloak.keycloak-themes"/>
    <module name="org.keycloak.keycloak-wildfly-adduser"/>
    <module name="org.keycloak.keycloak-wildfly-extensions"/>
    <module name="org.keycloak.keycloak-wildfly-server-subsystem"/>

    <module name="org.jboss.resteasy.resteasy-jackson-provider"/>
    <module name="com.h2database.h2"/>
  </dependencies>
</module>
