<module xmlns="urn:jboss:module:1.3" name="org.wildfly.swarm.ejb.remote" slot="runtime">
  <resources>
    <artifact name="org.wildfly.swarm:ejb-remote-runtime:${project.version}"/>
  </resources>

  <dependencies>
    <module name="org.wildfly.swarm.ejb.remote"/>
    <module name="org.wildfly.swarm.ejb" slot="runtime"/>
    <module name="org.wildfly.swarm.container" slot="runtime"/>
  </dependencies>
</module>
