<module xmlns="urn:jboss:module:1.3" name="org.wildfly.swarm.client.jaxrs">
  <resources>
    <artifact name="io.thorntail:jaxrs-client-api:${project.version}"/>
  </resources>

  <dependencies>
    <module name="javax.api"/>
    <module name="javax.enterprise.concurrent.api"/>
  </dependencies>

</module>
