<module xmlns="urn:jboss:module:1.3" name="org.wildfly.swarm.undertow" slot="api">
  <resources>
    <artifact name="org.wildfly.swarm:wildfly-swarm-undertow:${project.version}"/>
  </resources>
  <dependencies>
    <module name="org.wildfly.swarm.container"/>
    <module name="org.wildfly.swarm.configuration"/>
    <module name="org.jboss.shrinkwrap"/>
    <module name="org.jboss.shrinkwrap.descriptors"/>
  </dependencies>
</module>
