<module xmlns="urn:jboss:module:1.3" name="org.wildfly.swarm.undertow" slot="api">
  <resources>
    <artifact name="org.wildfly.swarm:undertow-api:${project.version}"/>
  </resources>
  <dependencies>
    <module name="org.wildfly.swarm.container"/>
    <module name="io.undertow.core"/>
    <module name="io.undertow.servlet"/>
    <module name="org.ow2.asm"/>
  </dependencies>
</module>
