<module xmlns="urn:jboss:module:1.3" name="org.wildfly.swarm.javafx">
  <dependencies>
    <system export="true">
      <paths>
        <path name="org/wildfly/swarm/javafx"/>
      </paths>
    </system>

    <module name="org.wildfly.swarm.javafx" slot="api" export="true" services="export"/>

  </dependencies>
</module>
