<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2015 Red Hat, Inc. and/or its affiliates.
  ~
  ~ Licensed under the Apache License version 2.0, available at http://www.apache.org/licenses/LICENSE-2.0
  -->

<module xmlns="urn:jboss:module:1.3" name="org.jboss.shrinkwrap.descriptors" slot="impl">
  <resources>
    <artifact name="org.jboss.shrinkwrap.descriptors:shrinkwrap-descriptors-api-base:${version.org.jboss.shrinkwrap.descriptors}"/>
    <artifact name="org.jboss.shrinkwrap.descriptors:shrinkwrap-descriptors-api-javaee:${version.org.jboss.shrinkwrap.descriptors}"/>
    <artifact name="org.jboss.shrinkwrap.descriptors:shrinkwrap-descriptors-api-jboss:${version.org.jboss.shrinkwrap.descriptors}"/>
    <artifact name="org.jboss.shrinkwrap.descriptors:shrinkwrap-descriptors-impl-base:${version.org.jboss.shrinkwrap.descriptors}"/>
    <artifact name="org.jboss.shrinkwrap.descriptors:shrinkwrap-descriptors-impl-javaee:${version.org.jboss.shrinkwrap.descriptors}"/>
    <artifact name="org.jboss.shrinkwrap.descriptors:shrinkwrap-descriptors-impl-jboss:${version.org.jboss.shrinkwrap.descriptors}"/>
    <artifact name="org.jboss.shrinkwrap.descriptors:shrinkwrap-descriptors-spi:${version.org.jboss.shrinkwrap.descriptors}"/>
  </resources>
  <dependencies>
    <module name="javax.api"/>
  </dependencies>
</module>
