<module xmlns="urn:jboss:module:1.3" name="com.uber.jaeger">
  <resources>
    <artifact name="com.uber.jaeger:jaeger-core:${version.jaeger}"/>
    <artifact name="com.uber.jaeger:jaeger-tracerresolver:${version.jaeger}"/>
    <artifact name="com.uber.jaeger:jaeger-thrift:${version.jaeger}"/>
  </resources>

  <dependencies>
    <module name="org.slf4j"/>
    <module name="io.opentracing"/>
    <module name="org.apache.thrift" slot="jaeger"/>
    <module name="com.squareup.okhttp3"/>
    <module name="com.google.code.gson" slot="jaeger"/>
  </dependencies>
</module>
