<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.5" name="test.jaxrs">
  <resources>
    <artifact name="org.jboss.spec.javax.ws.rs:jboss-jaxrs-api_2.0_spec:1.0.0.Final" />
  </resources>
  <dependencies>
    <system export="true">
      <paths>
        <path name="test/jaxrs"/>
      </paths>
    </system>
  </dependencies>
</module>
