<module xmlns="urn:jboss:module:1.3" name="org.wildfly.swarm.jdr" slot="runtime">
  <resources>
    <artifact name="org.wildfly.swarm:jdr-runtime:${project.version}"/>
  </resources>

  <dependencies>
    <module name="org.wildfly.swarm.jdr"/>
    <module name="org.wildfly.swarm.container" slot="runtime"/>

    <module name="org.jboss.as.jdr"/>
  </dependencies>
</module>
