<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2017 Red Hat, Inc. and/or its affiliates.
  ~
  ~ Licensed under the Apache License version 2.0, available at http://www.apache.org/licenses/LICENSE-2.0
  -->
<module xmlns="urn:jboss:module:1.3" name="test.module">
  <resources>
    <artifact name="org.wildfly.core:wildfly-version:1.0.0.Final"/>
    <artifact name="org.wildfly.common:wildfly-common:1.0.0.Final"/>
  </resources>
</module>
