<module xmlns="urn:jboss:module:1.3" name="org.wildfly.swarm.netflix.ribbon" slot="runtime">
  <resources>
    <artifact name="org.wildfly.swarm:wildfly-swarm-runtime-netflix-ribbon:${project.version}"/>
  </resources>

  <dependencies>
    <module name="org.wildfly.swarm.netflix.ribbon" slot="runtime"/>
    <module name="org.wildfly.swarm.container"/>
    <module name="org.wildfly.swarm.runtime.container"/>
    <module name="org.jboss.msc"/>
    <module name="org.wildfly.clustering.api"/>
    <module name="com.netflix.ribbon"/>
    <module name="org.jboss.as.network"/>
  </dependencies>
</module>
