<module xmlns="urn:jboss:module:1.3" name="org.wildfly.swarm.topology.consul" slot="runtime">
  <resources>
    <artifact name="org.wildfly.swarm:topology-consul-runtime:${project.version}"/>
  </resources>

  <dependencies>
    <module name="org.wildfly.swarm.topology" slot="runtime"/>
    <module name="org.wildfly.swarm.topology.consul"/>
    <module name="org.wildfly.swarm.container"/>
    <module name="org.wildfly.swarm.container" slot="runtime"/>
    <module name="org.jboss.msc"/>
    <module name="org.wildfly.clustering.api"/>
    <module name="com.hashicorp.consul"/>
    <module name="javax.ws.rs.api" export="true" services="export"/>
    <module name="org.jboss.resteasy.resteasy-jaxrs" services="import"/>
    <module name="org.jboss.as.network"/>
    <module name="org.jboss.as.naming"/>
    <module name="org.jboss.shrinkwrap"/>
    <module name="com.google.guava"/>
  </dependencies>
</module>
