<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2015 Red Hat, Inc. and/or its affiliates.
  ~
  ~ Licensed under the Apache License version 2.0, available at http://www.apache.org/licenses/LICENSE-2.0
  -->

<module xmlns="urn:jboss:module:1.3" name="org.wildfly.swarm.configuration">
  <dependencies>
    <!-- For when run with bonafide IDE classpath -->
    <system export="true">
      <paths>
        <path name="org/wildfly/swarm/config/bean"/>
        <path name="org/wildfly/swarm/config/bean/validation"/>
        <path name="org/wildfly/swarm/config/datasources"/>
        <path name="org/wildfly/swarm/config/datasources/subsystem"/>
        <path name="org/wildfly/swarm/config/datasources/subsystem/dataSource"/>
        <path name="org/wildfly/swarm/config/datasources/subsystem/dataSource/connectionProperties"/>
        <path name="org/wildfly/swarm/config/datasources/subsystem/jdbcDriver"/>
        <path name="org/wildfly/swarm/config/datasources/subsystem/xaDataSource"/>
        <path name="org/wildfly/swarm/config/datasources/subsystem/xaDataSource/xaDatasourceProperties"/>
        <path name="org/wildfly/swarm/config/ee"/>
        <path name="org/wildfly/swarm/config/ee/subsystem"/>
        <path name="org/wildfly/swarm/config/ee/subsystem/contextService"/>
        <path name="org/wildfly/swarm/config/ee/subsystem/managedExecutorService"/>
        <path name="org/wildfly/swarm/config/ee/subsystem/managedScheduledExecutorService"/>
        <path name="org/wildfly/swarm/config/ee/subsystem/managedThreadFactory"/>
        <path name="org/wildfly/swarm/config/ee/subsystem/service"/>
        <path name="org/wildfly/swarm/config/ejb3"/>
        <path name="org/wildfly/swarm/config/ejb3/subsystem"/>
        <path name="org/wildfly/swarm/config/ejb3/subsystem/cache"/>
        <path name="org/wildfly/swarm/config/ejb3/subsystem/clusterPassivationStore"/>
        <path name="org/wildfly/swarm/config/ejb3/subsystem/filePassivationStore"/>
        <path name="org/wildfly/swarm/config/ejb3/subsystem/passivationStore"/>
        <path name="org/wildfly/swarm/config/ejb3/subsystem/remotingProfile"/>
        <path name="org/wildfly/swarm/config/ejb3/subsystem/remotingProfile/remotingEjbReceiver"/>
        <path name="org/wildfly/swarm/config/ejb3/subsystem/remotingProfile/remotingEjbReceiver/channelCreationOptions"/>
        <path name="org/wildfly/swarm/config/ejb3/subsystem/service"/>
        <path name="org/wildfly/swarm/config/ejb3/subsystem/service/channelCreationOptions"/>
        <path name="org/wildfly/swarm/config/ejb3/subsystem/service/databaseDataStore"/>
        <path name="org/wildfly/swarm/config/ejb3/subsystem/service/fileDataStore"/>
        <path name="org/wildfly/swarm/config/ejb3/subsystem/strictMaxBeanInstancePool"/>
        <path name="org/wildfly/swarm/config/ejb3/subsystem/threadPool"/>
        <path name="org/wildfly/swarm/config/io"/>
        <path name="org/wildfly/swarm/config/io/subsystem"/>
        <path name="org/wildfly/swarm/config/io/subsystem/bufferPool"/>
        <path name="org/wildfly/swarm/config/io/subsystem/worker"/>
        <path name="org/wildfly/swarm/config/jaxrs"/>
        <path name="org/wildfly/swarm/config/jca"/>
        <path name="org/wildfly/swarm/config/jca/subsystem"/>
        <path name="org/wildfly/swarm/config/jca/subsystem/archiveValidation"/>
        <path name="org/wildfly/swarm/config/jca/subsystem/beanValidation"/>
        <path name="org/wildfly/swarm/config/jca/subsystem/bootstrapContext"/>
        <path name="org/wildfly/swarm/config/jca/subsystem/cachedConnectionManager"/>
        <path name="org/wildfly/swarm/config/jca/subsystem/distributedWorkmanager"/>
        <path name="org/wildfly/swarm/config/jca/subsystem/distributedWorkmanager/longRunningThreads"/>
        <path name="org/wildfly/swarm/config/jca/subsystem/distributedWorkmanager/shortRunningThreads"/>
        <path name="org/wildfly/swarm/config/jca/subsystem/tracer"/>
        <path name="org/wildfly/swarm/config/jca/subsystem/workmanager"/>
        <path name="org/wildfly/swarm/config/jca/subsystem/workmanager/longRunningThreads"/>
        <path name="org/wildfly/swarm/config/jca/subsystem/workmanager/shortRunningThreads"/>
        <path name="org/wildfly/swarm/config/jpa"/>
        <path name="org/wildfly/swarm/config/jsf"/>
        <path name="org/wildfly/swarm/config/logging"/>
        <path name="org/wildfly/swarm/config/logging/subsystem"/>
        <path name="org/wildfly/swarm/config/logging/subsystem/asyncHandler"/>
        <path name="org/wildfly/swarm/config/logging/subsystem/consoleHandler"/>
        <path name="org/wildfly/swarm/config/logging/subsystem/customFormatter"/>
        <path name="org/wildfly/swarm/config/logging/subsystem/customHandler"/>
        <path name="org/wildfly/swarm/config/logging/subsystem/fileHandler"/>
        <path name="org/wildfly/swarm/config/logging/subsystem/logFile"/>
        <path name="org/wildfly/swarm/config/logging/subsystem/logger"/>
        <path name="org/wildfly/swarm/config/logging/subsystem/loggingProfile"/>
        <path name="org/wildfly/swarm/config/logging/subsystem/loggingProfile/asyncHandler"/>
        <path name="org/wildfly/swarm/config/logging/subsystem/loggingProfile/consoleHandler"/>
        <path name="org/wildfly/swarm/config/logging/subsystem/loggingProfile/customFormatter"/>
        <path name="org/wildfly/swarm/config/logging/subsystem/loggingProfile/customHandler"/>
        <path name="org/wildfly/swarm/config/logging/subsystem/loggingProfile/fileHandler"/>
        <path name="org/wildfly/swarm/config/logging/subsystem/loggingProfile/logFile"/>
        <path name="org/wildfly/swarm/config/logging/subsystem/loggingProfile/logger"/>
        <path name="org/wildfly/swarm/config/logging/subsystem/loggingProfile/patternFormatter"/>
        <path name="org/wildfly/swarm/config/logging/subsystem/loggingProfile/periodicRotatingFileHandler"/>
        <path name="org/wildfly/swarm/config/logging/subsystem/loggingProfile/periodicSizeRotatingFileHandler"/>
        <path name="org/wildfly/swarm/config/logging/subsystem/loggingProfile/rootLogger"/>
        <path name="org/wildfly/swarm/config/logging/subsystem/loggingProfile/sizeRotatingFileHandler"/>
        <path name="org/wildfly/swarm/config/logging/subsystem/loggingProfile/syslogHandler"/>
        <path name="org/wildfly/swarm/config/logging/subsystem/patternFormatter"/>
        <path name="org/wildfly/swarm/config/logging/subsystem/periodicRotatingFileHandler"/>
        <path name="org/wildfly/swarm/config/logging/subsystem/periodicSizeRotatingFileHandler"/>
        <path name="org/wildfly/swarm/config/logging/subsystem/rootLogger"/>
        <path name="org/wildfly/swarm/config/logging/subsystem/sizeRotatingFileHandler"/>
        <path name="org/wildfly/swarm/config/logging/subsystem/syslogHandler"/>
        <path name="org/wildfly/swarm/config/mail"/>
        <path name="org/wildfly/swarm/config/mail/subsystem"/>
        <path name="org/wildfly/swarm/config/mail/subsystem/mailSession"/>
        <path name="org/wildfly/swarm/config/mail/subsystem/mailSession/custom"/>
        <path name="org/wildfly/swarm/config/mail/subsystem/mailSession/server"/>
        <path name="org/wildfly/swarm/config/naming"/>
        <path name="org/wildfly/swarm/config/remoting"/>
        <path name="org/wildfly/swarm/config/remoting/subsystem"/>
        <path name="org/wildfly/swarm/config/remoting/subsystem/configuration"/>
        <path name="org/wildfly/swarm/config/remoting/subsystem/connector"/>
        <path name="org/wildfly/swarm/config/remoting/subsystem/connector/property"/>
        <path name="org/wildfly/swarm/config/remoting/subsystem/connector/security"/>
        <path name="org/wildfly/swarm/config/remoting/subsystem/connector/security/property"/>
        <path name="org/wildfly/swarm/config/remoting/subsystem/connector/security/saslPolicy"/>
        <path name="org/wildfly/swarm/config/remoting/subsystem/httpConnector"/>
        <path name="org/wildfly/swarm/config/remoting/subsystem/httpConnector/property"/>
        <path name="org/wildfly/swarm/config/remoting/subsystem/httpConnector/security"/>
        <path name="org/wildfly/swarm/config/remoting/subsystem/httpConnector/security/property"/>
        <path name="org/wildfly/swarm/config/remoting/subsystem/httpConnector/security/saslPolicy"/>
        <path name="org/wildfly/swarm/config/remoting/subsystem/localOutboundConnection"/>
        <path name="org/wildfly/swarm/config/remoting/subsystem/localOutboundConnection/property"/>
        <path name="org/wildfly/swarm/config/remoting/subsystem/outboundConnection"/>
        <path name="org/wildfly/swarm/config/remoting/subsystem/outboundConnection/property"/>
        <path name="org/wildfly/swarm/config/remoting/subsystem/remoteOutboundConnection"/>
        <path name="org/wildfly/swarm/config/remoting/subsystem/remoteOutboundConnection/property"/>
        <path name="org/wildfly/swarm/config/undertow"/>
        <path name="org/wildfly/swarm/config/undertow/subsystem"/>
        <path name="org/wildfly/swarm/config/undertow/subsystem/bufferCache"/>
        <path name="org/wildfly/swarm/config/undertow/subsystem/configuration"/>
        <path name="org/wildfly/swarm/config/undertow/subsystem/configuration/connectionLimit"/>
        <path name="org/wildfly/swarm/config/undertow/subsystem/configuration/customFilter"/>
        <path name="org/wildfly/swarm/config/undertow/subsystem/configuration/errorPage"/>
        <path name="org/wildfly/swarm/config/undertow/subsystem/configuration/expressionFilter"/>
        <path name="org/wildfly/swarm/config/undertow/subsystem/configuration/file"/>
        <path name="org/wildfly/swarm/config/undertow/subsystem/configuration/gzip"/>
        <path name="org/wildfly/swarm/config/undertow/subsystem/configuration/modCluster"/>
        <path name="org/wildfly/swarm/config/undertow/subsystem/configuration/modCluster/balancer"/>
        <path name="org/wildfly/swarm/config/undertow/subsystem/configuration/modCluster/balancer/loadBalancingGroup"/>
        <path name="org/wildfly/swarm/config/undertow/subsystem/configuration/modCluster/balancer/node"/>
        <path name="org/wildfly/swarm/config/undertow/subsystem/configuration/modCluster/balancer/node/context"/>
        <path name="org/wildfly/swarm/config/undertow/subsystem/configuration/responseHeader"/>
        <path name="org/wildfly/swarm/config/undertow/subsystem/configuration/reverseProxy"/>
        <path name="org/wildfly/swarm/config/undertow/subsystem/configuration/reverseProxy/host"/>
        <path name="org/wildfly/swarm/config/undertow/subsystem/configuration/rewrite"/>
        <path name="org/wildfly/swarm/config/undertow/subsystem/server"/>
        <path name="org/wildfly/swarm/config/undertow/subsystem/server/ajpListener"/>
        <path name="org/wildfly/swarm/config/undertow/subsystem/server/host"/>
        <path name="org/wildfly/swarm/config/undertow/subsystem/server/host/filterRef"/>
        <path name="org/wildfly/swarm/config/undertow/subsystem/server/host/location"/>
        <path name="org/wildfly/swarm/config/undertow/subsystem/server/host/location/filterRef"/>
        <path name="org/wildfly/swarm/config/undertow/subsystem/server/host/setting"/>
        <path name="org/wildfly/swarm/config/undertow/subsystem/server/httpListener"/>
        <path name="org/wildfly/swarm/config/undertow/subsystem/server/httpsListener"/>
        <path name="org/wildfly/swarm/config/undertow/subsystem/servletContainer"/>
        <path name="org/wildfly/swarm/config/undertow/subsystem/servletContainer/mimeMapping"/>
        <path name="org/wildfly/swarm/config/undertow/subsystem/servletContainer/setting"/>
        <path name="org/wildfly/swarm/config/undertow/subsystem/servletContainer/welcomeFile"/>
        <path name="org/wildfly/swarm/config/weld"/>
      </paths>
    </system>
    <module name="org.wildfly.swarm.configuration" slot="api" export="true" services="export"/>
  </dependencies>

</module>
