<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2015 Red Hat, Inc. and/or its affiliates.
  ~
  ~ Licensed under the Apache License version 2.0, available at http://www.apache.org/licenses/LICENSE-2.0
  -->

<module xmlns="urn:jboss:module:1.3" name="org.wildfly.swarm.configuration">
  <dependencies>
    <!-- For when run with bonafide IDE classpath -->
    <system export="true">
      <paths>
        <path name="org/wildfly/swarm/config"/>
        <path name="org/wildfly/swarm/config/datasources"/>
        <path name="org/wildfly/swarm/config/datasources/data_source"/>
        <path name="org/wildfly/swarm/config/datasources/xa_data_source"/>
        <path name="org/wildfly/swarm/config/ee"/>
        <path name="org/wildfly/swarm/config/ejb3"/>
        <path name="org/wildfly/swarm/config/ejb3/remoting_profile"/>
        <path name="org/wildfly/swarm/config/ejb3/service"/>
        <path name="org/wildfly/swarm/config/infinispan"/>
        <path name="org/wildfly/swarm/config/infinispan/cache_container"/>
        <path name="org/wildfly/swarm/config/io"/>
        <path name="org/wildfly/swarm/config/jca"/>
        <path name="org/wildfly/swarm/config/logging"/>
        <path name="org/wildfly/swarm/config/mail"/>
        <path name="org/wildfly/swarm/config/mail/mail_session"/>
        <path name="org/wildfly/swarm/config/messaging_activemq"/>
        <path name="org/wildfly/swarm/config/messaging_activemq/server"/>
        <path name="org/wildfly/swarm/config/messaging_activemq/server/ha_policy/replication_colocated"/>
        <path name="org/wildfly/swarm/config/messaging_activemq/server/ha_policy/shared_store_colocated"/>
        <path name="org/wildfly/swarm/config/naming"/>
        <path name="org/wildfly/swarm/config/remoting"/>
        <path name="org/wildfly/swarm/config/security"/>
        <path name="org/wildfly/swarm/config/security/security_domain"/>
        <path name="org/wildfly/swarm/config/security/security_domain/acl"/>
        <path name="org/wildfly/swarm/config/security/security_domain/audit"/>
        <path name="org/wildfly/swarm/config/security/security_domain/authentication"/>
        <path name="org/wildfly/swarm/config/security/security_domain/authorization"/>
        <path name="org/wildfly/swarm/config/security/security_domain/identity_trust"/>
        <path name="org/wildfly/swarm/config/security/security_domain/mapping"/>
        <path name="org/wildfly/swarm/config/transactions"/>
        <path name="org/wildfly/swarm/config/transactions/log_store"/>
        <path name="org/wildfly/swarm/config/transactions/log_store/transactions"/>
        <path name="org/wildfly/swarm/config/undertow"/>
        <path name="org/wildfly/swarm/config/undertow/configuration"/>
        <path name="org/wildfly/swarm/config/undertow/configuration/mod_cluster"/>
        <path name="org/wildfly/swarm/config/undertow/configuration/mod_cluster/balancer"/>
        <path name="org/wildfly/swarm/config/undertow/configuration/mod_cluster/balancer/node"/>
        <path name="org/wildfly/swarm/config/undertow/configuration/reverse_proxy"/>
        <path name="org/wildfly/swarm/config/undertow/server"/>
        <path name="org/wildfly/swarm/config/undertow/server/host"/>
        <path name="org/wildfly/swarm/config/undertow/servlet_container"/>
      </paths>
    </system>
    <module name="org.wildfly.swarm.configuration" slot="api" export="true" services="export"/>
  </dependencies>

</module>
