<module xmlns="urn:jboss:module:1.3" name="com.netflix.hystrix">
  <resources>
    <artifact name="com.netflix.hystrix:hystrix-core:${version.hystrix}"/>
  </resources>

  <dependencies>
    <module name="com.netflix.archaius"/>
    <module name="io.reactivex.rxjava"/>
    <module name="org.slf4j"/>
    <module name="sun.jdk"/>
  </dependencies>

</module>
