<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2015 Red Hat, Inc. and/or its affiliates.
  ~
  ~ Licensed under the Apache License version 2.0, available at http://www.apache.org/licenses/LICENSE-2.0
  -->

<module xmlns="urn:jboss:module:1.5" name="org.wildfly.swarm.spi" slot="runtime">
  <properties>
    <property name="jboss.api" value="private"/>
  </properties>
  <resources>
    <artifact name="io.thorntail:spi:${project.version}">
      <filter>
        <include-set>
          <path name="org/wildfly/swarm/spi/runtime"/>
          <path name="org/wildfly/swarm/spi/runtime/annotations"/>
        </include-set>
        <exclude-set>
          <path name="org/wildfly/swarm/spi/api"/>
          <path name="org/wildfly/swarm/spi/api/annotations"/>
          <path name="org/wildfly/swarm/spi/api/internal"/>
        </exclude-set>
      </filter>
    </artifact>
  </resources>

  <dependencies>
    <module name="org.wildfly.swarm.spi" export="true"/>
    <module name="org.jboss.as.controller"/>
    <module name="org.wildfly.swarm.configuration"/>
    <!-- the following have been added to support xml parsing  (see AbstractParserFactory) -->
    <module name="javax.enterprise.api"/>
    <module name="javax.api" export="true"/>
    <module name="org.jboss.staxmapper" export="true"/>
  </dependencies>
</module>
