<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="org.wildfly.swarm.logging" slot="runtime">
  <resources>
    <artifact name="org.wildfly.swarm:logging:${project.version}"/>
  </resources>

  <dependencies>
    <module name="org.wildfly.swarm.bootstrap" optional="true"/>
    <module name="org.wildfly.swarm.container"/>
    <module name="org.wildfly.swarm.container" slot="runtime"/>

    <module name="org.wildfly.swarm.logging"/>

    <module name="org.jboss.as.logging"/>
    <module name="org.jboss.logging.jul-to-slf4j-stub"/>
    <module name="org.apache.commons.logging"/>
    <module name="ch.qos.cal10n"/>
  </dependencies>

</module>
