<module xmlns="urn:jboss:module:1.3" name="org.wildfly.swarm.weld" slot="runtime">
  <resources>
    <artifact name="org.wildfly.swarm:wildfly-swarm-weld-runtime:${project.version}"/>
  </resources>

  <dependencies>
    <module name="org.wildfly.swarm.weld"/>
    <module name="org.wildfly.swarm.container"/>
    <module name="org.wildfly.swarm.container" slot="runtime"/>

    <module name="org.jboss.as.weld"/>
  </dependencies>
</module>
