<module xmlns="urn:jboss:module:1.3" name="org.wildfly.swarm.netflix.ribbon.secured" slot="runtime">
  <properties>
    <property name="jboss.api" value="private"/>
  </properties>
  <resources>
    <artifact name="io.thorntail:ribbon-secured-runtime:${project.version}"/>
  </resources>

  <dependencies>
    <module name="org.wildfly.swarm.container"/>
    <module name="org.wildfly.swarm.container" slot="runtime"/>
    <module name="org.wildfly.swarm.netflix.ribbon" slot="runtime"/>
    <module name="org.wildfly.swarm.netflix.ribbon.secured"/>
    <module name="org.jboss.shrinkwrap"/>
  </dependencies>
</module>
