<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2015 Red Hat, Inc. and/or its affiliates.
  ~
  ~ Licensed under the Apache License version 2.0, available at http://www.apache.org/licenses/LICENSE-2.0
  -->

<module xmlns="urn:jboss:module:1.3" name="org.wildfly.swarm.logstash" slot="runtime">
  <resources>
    <artifact name="org.wildfly.swarm:wildfly-swarm-runtime-logstash:${project.version}"/>
  </resources>

  <dependencies>
    <module name="org.wildfly.swarm.runtime.container"/>

    <module name="org.wildfly.swarm.runtime.logging"/>
    <module name="org.wildfly.swarm.container"/>
    <module name="org.wildfly.swarm.logstash"/>

    <module name="org.jboss.logmanager.ext"/>
  </dependencies>

</module>
