<module xmlns="urn:jboss:module:1.3" name="org.wildfly.swarm.spring.rest" slot="api">
  <resources>
    <artifact name="org.wildfly.swarm:spring-rest:${project.version}"/>
  </resources>

  <dependencies>
    <module name="org.wildfly.swarm.container"/>
    <module name="org.jboss.shrinkwrap"/>
  </dependencies>
</module>
