<module xmlns="urn:jboss:module:1.3" name="com.fasterxml.jackson" slot="swagger">
  <resources>
    <artifact name="com.fasterxml.jackson.core:jackson-core:${version.swagger.jackson}"/>
    <artifact name="com.fasterxml.jackson.core:jackson-annotations:${version.swagger.jackson}"/>
    <artifact name="com.fasterxml.jackson.core:jackson-databind:${version.swagger.jackson}"/>
    <artifact name="com.fasterxml.jackson.datatype:jackson-datatype-joda:${version.swagger.jackson}"/>
    <artifact name="com.fasterxml.jackson.datatype:jackson-datatype-guava:${version.swagger.jackson}"/>
    <artifact name="com.fasterxml.jackson.dataformat:jackson-dataformat-yaml:${version.swagger.jackson}"/>
    <artifact name="com.fasterxml.jackson.dataformat:jackson-dataformat-xml:${version.swagger.jackson}"/>
    <artifact name="com.fasterxml.jackson.jaxrs:jackson-jaxrs-base:${version.swagger.jackson}"/>
    <artifact name="com.fasterxml.jackson.jaxrs:jackson-jaxrs-json-provider:${version.swagger.jackson}"/>
  </resources>
  <dependencies>
    <module name="javax.ws.rs.api"/>
  </dependencies>

</module>
