<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="org.wildfly.swarm.request.controller" slot="runtime">
  <resources>
    <artifact name="org.wildfly.swarm:request-controller-runtime:${project.version}"/>
  </resources>

  <dependencies>
    <module name="org.wildfly.swarm.bootstrap" optional="true"/>
    <module name="org.wildfly.swarm.container" slot="runtime"/>

    <module name="org.wildfly.swarm.request.controller"/>

    <module name="org.wildfly.extension.request-controller"/>
  </dependencies>

</module>
