<?xml version="1.0" ?>

<module xmlns="urn:jboss:module:1.3" name="org.fluentd">

  <resources>
    <artifact name="org.fluentd:fluent-logger:${fluentd.version}"/>
    <artifact name="org.msgpack:msgpack:0.6.8"/>
    <artifact name="com.googlecode.json-simple:json-simple:1.1.1"/>
    <artifact name="org.jboss.logmanager:jboss-logmanager-ext:${version.jboss-logmanager-ext}"/>
  </resources>

  <dependencies>
    <module name="org.jboss.logmanager"/>
    <module name="javax.json.api"/>
    <module name="javax.xml.stream.api"/>
    <module name="org.javassist"/>
    <module name="org.slf4j"/>
  </dependencies>
</module>
