<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
    version="3.0">

    <display-name>odata4</display-name>

    <filter>
	   <filter-name>CorsFilter</filter-name>
	   <filter-class>org.teiid.olingo.web.CorsFilter</filter-class>
    </filter>
    <filter>
        <filter-name>GzipFilter</filter-name>
        <filter-class>org.teiid.olingo.web.gzip.GzipFilter</filter-class>
    </filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
    <filter-mapping>
        <filter-name>GzipFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
      
    <filter>
       <filter-name>ODataFilter</filter-name>
       <filter-class>org.teiid.olingo.web.ODataFilter</filter-class>
       <!-- 
        In cloud environment or if under a proxy, update the below url with address of the proxy to generate 
        odata links correctly.       
       <init-param>
            <param-name>proxy-base-uri</param-name>
            <param-value>http://{host}</param-value>
       </init-param>
       -->
       
       <!-- 
       When using in context per VDB use these values to define the VDB name and version
       <init-param>
            <param-name>vdb-name</param-name>
            <param-value>vdbname</param-value>
       </init-param>
       <init-param>
            <param-name>vdb-version</param-name>
            <param-value>version</param-value>
       </init-param>                     
        -->       
       
       <init-param>
            <param-name>batch-size</param-name>
            <param-value>256</param-value>       
       </init-param>
       <init-param>
            <param-name>skiptoken-cache-time</param-name>
            <param-value>300000</param-value>       
       </init-param>
       <init-param>
            <param-name>local-transport-name</param-name>
            <param-value>odata</param-value>       
       </init-param>
       <!-- 
       <init-param>
            <param-name>charset</param-name>
            <param-value>UTF-8</param-value>       
       </init-param>
        -->        
        
       <!-- 
       <init-param>
            <param-name>invalid-xml10-character-replacement</param-name>
             <param-value>?</param-value>
       </init-param>
       -->
    </filter>
    
    <filter-mapping>
       <filter-name>ODataFilter</filter-name>
       <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <servlet>
        <servlet-name>odata4</servlet-name>
        <servlet-class>org.teiid.olingo.web.ODataServlet</servlet-class>
    </servlet>     

    <servlet>
        <servlet-name>static</servlet-name>
        <servlet-class>org.teiid.olingo.web.StaticContentServlet</servlet-class>
    </servlet>
        
    <servlet-mapping>
        <servlet-name>odata4</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>static</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>
</web-app>
