<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="keycloak.io.smallrye.jwt">
    <resources>
      <artifact name="org.keycloak:keycloak-core:${version.keycloak}" />
      <artifact name="org.keycloak:keycloak-common:${version.keycloak}" />
      <artifact name="org.keycloak:keycloak-adapter-core:${version.keycloak}" />
      <artifact name="org.keycloak:keycloak-admin-cli:${version.keycloak}" />
      <artifact name="com.fasterxml.jackson.core:jackson-core:${version.com.fasterxml.jackson}"/>
      <artifact name="com.fasterxml.jackson.core:jackson-databind:${version.com.fasterxml.jackson}"/>
      <artifact name="com.fasterxml.jackson.core:jackson-annotations:${version.com.fasterxml.jackson}"/>
    </resources>
    <dependencies>
        <module name="org.eclipse.microprofile.jwt" export="true" services="import"/>
        <module name="org.wildfly.swarm.keycloak.mpjwt" services="export" export="true" slot="deployment"/>
        <module name="org.jboss.logging" />
    </dependencies>
</module>
