<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.5" name="javax.enterprise.api" slot="cdi2">
  <resources>
    <artifact name="javax.enterprise:cdi-api:${version.cdi2}"/>
  </resources>

  <dependencies>
    <module name="org.glassfish.javax.el" export="true"/>
    <module name="javax.inject.api" export="true"/>
    <module name="javax.interceptor.api" export="true"/>

    <!-- CDIProvider -->
    <module name="org.jboss.weld.core" optional="true"/>
  </dependencies>
</module>
