<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.5" name="org.eclipse.microprofile.jwt">
  <resources>
    <artifact name="org.eclipse.microprofile.jwt:microprofile-jwt-auth-api:${version.microprofile-jwt-auth}" />
    <artifact name="org.jboss.resteasy:resteasy-json-p-provider:3.0.6.Final" />
    <artifact name="org.bitbucket.b_c:jose4j:0.6.0" />
    <artifact name="org.slf4j:slf4j-api:1.7.21" />
  </resources>

  <dependencies>
    <module name="io.undertow.core" />
    <module name="io.undertow.servlet" />
    <module name="org.picketbox" export="true"/>
    <module name="org.eclipse.microprofile.config.api" export="true"/>
    <module name="org.wildfly.extension.microprofile.config" export="true"/>
    <module name="org.jboss.logging" />
    <module name="javax.enterprise.api" />
    <module name="org.glassfish.javax.json" export="true"/>
    <system export="true">
      <paths>
        <path name="javax/security/auth" />
        <path name="javax/security/auth/callback" />
        <path name="javax/security/auth/login" />
        <path name="javax/crypto" />
        <path name="javax/crypto/spec" />
        <path name="javax/enterprise/inject/spi" />
      </paths>
    </system>
  </dependencies>
</module>
