<module xmlns="urn:jboss:module:1.3" name="io.smallrye.opentracing">
  <resources>
    <artifact name="io.opentracing.contrib:opentracing-web-servlet-filter:${version.opentracing.servlet}"/>
    <artifact name="io.opentracing.contrib:opentracing-jaxrs2:${version.opentracing.jaxrs}"/>
    <artifact name="io.opentracing.contrib:opentracing-concurrent:${version.opentracing.concurrent}"/>
    <artifact name="io.opentracing.contrib:opentracing-interceptors:${version.opentracing.interceptors}"/>
    <artifact name="io.smallrye:smallrye-opentracing-1.3:${version.smallrye.opentracing-1.3}"/>
  </resources>

  <dependencies>
    <module name="javax.enterprise.api"/>
    <module name="javax.annotation.api"/>
    <module name="org.wildfly.swarm.undertow"/>
    <module name="org.wildfly.swarm.cdi"/>
    <module name="javax.ws.rs.api"/>
    <module name="io.opentracing.tracer"/>
    <module name="org.wildfly.swarm.mpopentracing" slot="deployment"/>
    <module name="org.eclipse.microprofile.opentracing"/>
    <module name="org.eclipse.microprofile.restclient"/>
    <module name="org.eclipse.microprofile.config.api" export="true"/>
    <module name="org.wildfly.extension.microprofile.config" export="true"/>
    <module name="org.wildfly.swarm.configuration.microprofile.config" slot="main"/>
  </dependencies>
</module>
