<module xmlns="urn:jboss:module:1.3" name="org.wildfly.swarm.netflix.ribbon.secured.client">
  <resources>
    <artifact name="io.thorntail:ribbon-secured-client:${project.version}"/>
  </resources>

  <dependencies>
    <module name="org.wildfly.swarm.netflix.ribbon"/>
    <module name="org.wildfly.swarm.keycloak" slot="deployment"/>
    <module name="org.keycloak.keycloak-core"/>
    <module name="com.netflix.ribbon"/>
    <module name="io.reactivex.rxnetty"/>
  </dependencies>
</module>
