<module xmlns="urn:jboss:module:1.3" name="org.wildfly.swarm.ee" slot="runtime">
  <resources>
    <artifact name="org.wildfly.swarm:ee-runtime:${project.version}"/>
  </resources>

  <dependencies>
    <module name="org.wildfly.swarm.ee"/>
    <module name="org.wildfly.swarm.container"/>
    <module name="org.wildfly.swarm.container" slot="runtime"/>
    <module name="org.wildfly.swarm.configuration"/>

    <module name="org.jboss.as.ee"/>
  </dependencies>
</module>
