<module xmlns="urn:jboss:module:1.3" name="org.wildfly.swarm.netflix.ribbon" slot="api">
  <resources>
    <artifact name="org.wildfly.swarm:ribbon:${project.version}"/>
  </resources>

  <dependencies>
    <module name="org.wildfly.swarm.container"/>
    <module name="org.wildfly.swarm.topology"/>
    <module name="org.wildfly.swarm.msc"/>
    <module name="org.jboss.shrinkwrap"/>
  </dependencies>
</module>
