<module xmlns="urn:jboss:module:1.3" name="org.wildfly.swarm.bean.validation">

  <dependencies>
    <!-- For when run with bonafide IDE classpath -->
    <system export="true">
      <paths>
        <path name="org/wildfly/swarm/bean/validation"/>
      </paths>
    </system>

    <!-- For when bootstrapped through a fat-jar -->
    <module name="org.wildfly.swarm.bean.validation" slot="api" export="true" services="export"/>

  </dependencies>
</module>
