<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="com.hazelcast">
  <resources>
    <artifact name="com.hazelcast:hazelcast:${version.hazelcast}"/>
  </resources>

  <dependencies>
    <module name="javax.api"/>
    <module name="sun.jdk"/>
    <module name="javax.transaction.api"/>
  </dependencies>
</module>
