<module xmlns="urn:jboss:module:1.3" name="org.wildfly.swarm.bean.validation" slot="runtime">
  <resources>
    <artifact name="org.wildfly.swarm:bean-validation-runtime:${project.version}"/>
  </resources>

  <dependencies>
    <module name="org.wildfly.swarm.bean.validation"/>
    <module name="org.wildfly.swarm.container" slot="runtime"/>

    <module name="org.wildfly.extension.bean-validation"/>
  </dependencies>
</module>
