<module xmlns="urn:jboss:module:1.3" name="com.netflix.archaius">
  <resources>
    <artifact name="com.netflix.archaius:archaius-core:${version.archaius}"/>
    <artifact name="commons-configuration:commons-configuration:${version.commons-configuration}"/>
  </resources>

  <dependencies>
    <module name="org.slf4j"/>
    <module name="org.apache.commons.lang"/>
    <module name="org.apache.commons.logging"/>
    <module name="com.google.guava"/>
  </dependencies>

</module>
