<module xmlns="urn:jboss:module:1.3" name="org.wildfly.swarm.javafx" slot="runtime">
  <resources>
    <artifact name="org.wildfly.swarm:javafx:${project.version}"/>
  </resources>

  <dependencies>
    <module name="org.wildfly.swarm.javafx"/>
    <module name="org.wildfly.swarm.container" slot="runtime"/>
  </dependencies>
</module>
