<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2015 Red Hat, Inc. and/or its affiliates.
  ~
  ~ Licensed under the Apache License version 2.0, available at http://www.apache.org/licenses/LICENSE-2.0
  -->

<module xmlns="urn:jboss:module:1.3" name="org.wildfly.swarm.container" slot="runtime">
  <resources>
    <artifact name="org.wildfly.swarm:container-runtime:${project.version}"/>
  </resources>

  <dependencies>
    <module name="org.wildfly.swarm.container"/>
    <module name="org.wildfly.swarm.bootstrap" optional="true"/>
    <module name="org.wildfly.swarm.configuration"/>

    <module name="org.jboss.modules"/>
    <module name="org.jboss.vfs"/>
    <module name="org.jboss.jandex"/>
    <module name="org.jboss.logging"/>
    <module name="org.jboss.logmanager" export="true"/>
    <module name="org.jboss.as.server"/>
    <module name="org.jboss.as.controller" export="true"/>
    <module name="org.jboss.as.self-contained"/>
    <module name="org.jboss.as.logging"/>
    <module name="org.jboss.shrinkwrap"/>
  </dependencies>
</module>
