<module xmlns="urn:jboss:module:1.3" name="org.wildfly.swarm.jpa" slot="runtime">
  <resources>
    <artifact name="org.wildfly.swarm:jpa-runtime:${project.version}"/>
  </resources>

  <dependencies>
    <module name="org.wildfly.swarm.jpa"/>
    <module name="org.wildfly.swarm.container" slot="runtime"/>

    <module name="org.jboss.as.jpa"/>
  </dependencies>
</module>
