<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.5" name="org.jboss.weld.se">
  <resources>
    <!--<resource-root path="weld-se-core-${version.weld}.jar"/>-->
    <artifact name="org.jboss.weld.environment:weld-environment-common:${version.weld}"/>
    <artifact name="org.jboss.weld:weld-api:${version.weld-api}"/>
    <artifact name="org.jboss.weld:weld-spi:${version.weld-api}"/>
    <artifact name="org.jboss.weld:weld-core-impl:${version.weld}"/>
    <artifact name="org.jboss.weld.se:weld-se-core:${version.weld}"/>
  </resources>

  <dependencies>
    <module name="com.google.guava"/>
    <module name="javax.api"/>
    <module name="javax.enterprise.api"/>
    <module name="javax.annotation.api"/>
    <module name="org.jboss.classfilewriter"/>
    <module name="org.jboss.logging" export="true"/>
    <module name="org.jboss.weld.api" export="true"/>
    <module name="org.jboss.weld.spi" export="true"/>
    <!-- most likely only due to org.jboss.weld.literal.DefautLiteral usage -->
    <module name="org.jboss.weld.core" export="true"/>
    <!--<module name="org.jboss.weld.se"/>-->
    <module name="org.jboss.jandex"/>
  </dependencies>
</module>
